.mainContainer {
    background: rgb(211,160,246);
    background: linear-gradient(45deg, rgba(211,160,246,0.4) 15%, rgba(183,255,182,0.4) 50%, rgba(249,195,120,0.4) 100%);
    /* background-color: '#E5E5CB'; */
    min-height: '600px';
}